*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

.main{
    margin: 20px 40px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}

.container{
    overflow-x:auto;
    white-space: nowrap;
}

table{
    height: 80vh;
    width: 80vw;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-collapse: collapse;
}

td{
    border: 2px solid;
    padding-left: 4px;
}